{% extends "scheduleSynchronizer/layout.html" %}
{% block content %}
<div class="jumbotron" color="blue">
    <h2 style="text-align:center;">This guide is to help you understand how this app works</h2>
</div>
<h3>Instruction</h3>
<ol class="list-group">
  <li>Sign in your Microsoft account on the right top of the page.</li>
  <li>Click on <b>"Shift"</b> at the top of the page to manage your schedules. The loading time depends on the number of courses you have in Microsoft Teams Shifts.</li>
  <li>Only the shifts <b>***Starting From Today***</b> will be checking. You can do nothing to change the past.</li>
  <li>Please be patient for a moment while the Shifts manager checks the consistency of all the schedules in your Microsoft Teams Shifts.</li>
  <li>All the shifts and related details will be showing in the table.</li>
  <li>To synchronize the schedules in your Microsoft Shifts, please <b>name the group name to the exact course name listed on the course planner</b>.</li>
  <li>To search for a specific course detail, please <b>input the exact course name listed on the course planner</b>.</li>
  <li>A list of useful links to view for more information</li>
</ol>
{% endblock %}
